@import url("fadein.css");

:root {
    --bg-blend-mode: color-burn;
    --bg-color: #f1f1f1;
    --font-color: #3d3d3d;
    --link-hover-color: #656565;
    --shadow-color: #30302e;
}

[data-theme="dark"] {
    --bg-blend-mode: multiply;
    --bg-color: #22272e;
    --font-color: #adbac7;
    --link-hover-color: #cdd9e5;
    --shadow-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--bg-color);
    font-family: 'Montserrat', 'Muli', sans-serif;
    color: var(--font-color);
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
}

.title-container, header {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

::-webkit-scrollbar {
    width: 0px;
}

.animated {
    -webkit-transition:.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition:.3s; /* Firefox < 16 */
        -ms-transition:.3s; /* Internet Explorer */
         -o-transition:.3s; /* Opera < 12.1 */
            transition:.3s;
}

section {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section:first-of-type {
    min-height: 100vh;
}

section h2 {
    padding-top: 100px;
    margin-bottom: 50px;
    font-weight: 200;
    align-self: start;
}

#scroll-down-icon {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    will-change: transform;
    animation: jumpInfinite 1.5s ease-in-out infinite;
}

.title-container h1 {
    font-weight: bold;
    font-size: calc(42px + 1vw);
    margin-bottom: 0;
}

.title-container h2 {
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: calc(20px + 0.3vw);
    font-family: 'Montserrat', 'Muli', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.title-container a:first-child {
    margin-left: 0;
}

.title-container a:hover {
    color: var(--link-hover-color);
}

.title-container ul {
    padding: 0;
}

.title-container li {
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.title-container ul a:last-child {
    margin-right: 0;
}

.title-container ul i {
    font-size: 24px;
}

@keyframes jumpInfinite {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
}
